<p id="notice"></p>
<div class="container">

  <div class="row">
    <h1 class="col-md-12 text-center display-3">About</h1>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
       <div class="d-block mx-auto back-image-container">
      <%= image_tag 'about.jpg', class: "back-image" %>
      <div class="main-visual overlay">
        <p class="main-visual-text">
          イラスト投稿サイト”Arts(アース)”へようこそ。<br>
          このサイトは地球上の人たちとアートで繋がるためのコミュニティサイトです。<br>
          あなたが作る作品は世界のどこかで誰かの人生を変えていく<br>
        </p>
      </div>
    </div>
    </div>
  </div>
</div>