  <p id="notice"></p>
  <div class="container">
  <div class="row">
    <div class="d-block mx-auto back-image-container">
      <%= image_tag 'top.jpg', class: "back-image" %>
      <div class="main-visual overlay">
        <p class="main-visual-text">
          ようこそ、Artsへ<br>
          このサイトは、イラスト投稿サイトになります。<br>
          貴方の作品で世界と繋がろう。
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <h4><strong>新着作品</strong></h4>
  </div>


  <div class="row">
    <%= render 'public/users/painting_index', paintings: @paintings %>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      
  </div>

</div>